          body {
    font-family: Calibri;
    background: #F2FBFA;
}

input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}

.clear {
    clear: both;
}

  .upload {
    width: 30%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #5ebfef;
    padding: 3px;
    border-radius: 3px
}
  #drop a {
    background: #0099e5 url("../images/up.png") no-repeat 25px;
    padding: 30px 0px;
    color: #fff;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    font-family: calibri;
    letter-spacing: 1px;
    border-bottom: 1px solid #5ebfef;
    border-radius: 3px;
}
  #drop input{
    display:none;
}
  #upload ul li{
    padding: 0 0px;
    height: 79px;
    position: relative;
    list-style-type: none;
    clear: both;
    overflow: hidden;
    background-color: #3E4142;
    border-bottom: 1px solid #5ebfef;
    border-radius: 3px;
}

  #upload ul li input{
    display: none;
}

#upload ul li p{
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 70px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 10px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../images/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}


.upload span {
    color: #F1F1F1;
    text-transform: uppercase;
    font-size: 1.1em;
    display: block;
    letter-spacing: 2px;
}